[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"

[dev-packages]


[scripts]
start = "flask --app main run --debug --host=0.0.0.0 --port=8000"

[requires]
python_version = "3.11"
